.demo{
  background-color: darkgreen;
}
p{ font-weight:bold 600;

     color: blue;
}
h3:hover{
   font-size: 900px;
   
   background-color: darkred;

}
h1:hover{

  background-color: forestgreen;
}
p{
  font: size 13px;
  
  color: darkviolet;

}
h3:hover{
background-color:greenyellow;
font-size: 40px;
font-weight: bold;
}
h2{

  color: lawngreens;
}